body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
}

.filetrsView {}

.yearsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.years {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.yearButton {
  background: white;
  width: 40%;
  border: 1px solid darkgray !important;
  margin: 10px !important;
}

.detailsContainer {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  
  .detailsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
  }

  .years {
  }

  .filetrsContainer {
    max-width: 400px;
  }

  .filetrsView {
    width: 250px;
  }

  .yearButton {
    background: white;
    margin: 10px !important;
    width: 100px;
    height: 40px;
    background-color: green;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    /* background-color: lightblue; */
    flex-direction: column;
  }

  .detailsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .years {
  }
}